{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="css/addmoney.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title><h1>My Wallet</h1></title>
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'addmoney.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container2">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">My Wallet</h3></div>
                                <form method="post" action="{% url 'addmoney_update' addmoney_info.id %}">
                                    {% csrf_token %}
                                    <div class="form-check">
                                      <div>
                                       <label for="title">Title:</label>
                                        {{ form.title }}
                                        </div>
                                    </div>
                                    <div>
                                        <label for="quantity">Amount:</label>
                                        {{ form.quantity }}
                                    </div>
                                    <div>
                                      <label>
                                        Expense Date:
                                        <input type="date" name="Date" value="{{ form.instance.Date|date:'Y-m-d' }}">
                                    </label><br>
                                    </div>
                                    <div class="f1">
                                        Select category-
                                        {{ form.category }}<br>
                                    </div><br>
                                    <button type="submit" class="b2"> Save </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>
</html>
